body
{
    background-color: aquamarine;
}

p
{
    text-align: center;
    font-size: large;
    font-family:'Times New Roman', Times, serif;
}
button
{
    color:darkgoldenrod; 
    border-color: black;
    border-width: 10px;
    border-radius: 5px;
}